.responsive {
   width: 100%;
   height: auto;
 }
body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
section {
   display: flex;
   
}
/*header,logo et navbar*/
.logo{
    display: flex;
    height: 60px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    padding-top: 2%;
 }

 .menu{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
 }


/* box description sur image*/
.container {
   position: relative;
   text-align: center;
   color: white;
 }





 
 /* Top left text */
 .top-left {
   position: absolute;
   top: 30px;
   left: 70px;
   background-color: rgb(255, 255, 255);
   color: black;
   height: 60%;
   width: 30%;padding-top: 2%;
   font-size: large;
   
 }


 /*titre,services entreprise et 4 linkbox descriptions*/

.titreServices{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(206, 206, 206);
   padding-top: 5%;
   font-size: 300%;
   color: rgb(253, 101, 0)
   
}
/*titre services entreprise*/
.servicesEntreprise {
   display: flex;
   justify-content:space-around;
   height: 600px;
   width: 100%;
   padding-top: 5%; 
   background-color: rgb(206, 206, 206);
}
/*linkbox*/
.ombres_multiples_diffuses {
   height: 500px;
   width: 20%;
   box-shadow: inset 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
   background-color: aliceblue;
   text-align: center;
   padding-top: 4% ;
   flex-direction: column;
   flex-wrap: wrap;
   /* deux ombres dans la liste et des rayons de flou pour chacune */
 }


 .titreColonne{
    color: rgb(253, 101, 0);
 }


 .smilling{
   height: 210%;
   width: 350%;

 }
 .marketing{
   display: flex;
   height: 900px;
   width: 60%;
    background-color: rgb(253, 101, 0);
 }

 .parent {
   position: relative;
   width: 300px;
   height: 300px;
   margin: 100px;
}
.child1 {
   position: absolute;
   width: 100%;
   height: 130%;
   top: 0;
   left: 0;
   opacity: 0.75;
   background: red;
}
.child2 {
   z-index: 1;
   margin: 110px;
   background: green;
   
}

.child3 {
   z-index: 2;
   margin: 300px;
   background: rgb(11, 0, 105);
   color: rgb(255, 255, 255);
   
 
}


 
 
/*outils et methodes utilisées/ 4 box*/
.outilsEntreprise{
   display: flex;
   justify-content:space-around;
   align-content: space-between;
   height: 600px;
   width: 300%;
   padding-top: 15%; 
   padding-left: 5%;
   padding-right: 5%;
   font-size: large;
   
}


.ombres_multiples_diffuses2 {
   height: 500px;
   width: 30%;
   box-shadow: inset 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
   background-color: rgb(3, 4, 5);
   text-align: center;
   padding-top: 4% ;
   flex-direction: column;
   display: flex;
   opacity: 85%;
   /* deux ombres dans la liste et des rayons de flou pour chacune */
 }
 
 .textColonne2{
    color: rgb(255, 255, 255);
 }

/*superposition box et image*/
.container2 {
   position: relative;
   width: 300px;
   height: 300px;
   margin-left: -60%;
}



.child4 {
   position: absolute;
   width: 100%;
   height: 130%;
   top: 20;
   left: 0;
   background: red;
}
.child5 {
   z-index: 1;
   margin: 110px;
   background: green;
   
}

.child6 {
   z-index: 2;
   margin: 300px;
   background: rgb(11, 0, 105);
   color: rgb(255, 255, 255);
   
 
}



.top-left2 {
   position: absolute;
   top: 30px;
   left: 70px;
   
   color: black;
   height: 60%;
   width: 30%;padding-top: 2%;
}

/*a propos*/
.container3 {
   position: relative;
   text-align: center;
   color: white;
 }

.apropos{
  margin: 10%;
  justify-content: center;
  align-items: center;
}


.ceQueNousFaisons{
   display: flex;
   height: 700px;
   width: 40%;
   background-color: rgb(253, 101, 0);
   margin-left: 50%;
}


/*titre,services entreprise et 4 linkbox descriptions*/

.titreRencontrerlequipe{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(206, 206, 206);
   padding-top: 5%;
   font-size: 300%;
   color: rgb(253, 101, 0)
   
}
/*titre services entreprise*/
.rencontrerlequipe {
   display: flex;
   justify-content:space-around;
   height: 600px;
   width: 100%;
   padding-top: 5%; 
   background-color: rgb(206, 206, 206);
}
/*linkbox*/
.ombres_multiples_diffuses3 {
   height: 500px;
   width: 20%;
   box-shadow: inset 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
   background-color: aliceblue;
   text-align: center;
   padding-top: 4% ;
   flex-direction: column;
   flex-wrap: wrap;
   
   /* deux ombres dans la liste et des rayons de flou pour chacune */
 }


 .titreColonne{
    color: rgb(253, 101, 0);
 }

 .imgrond{
 
   display: inline-block;
   border: 5px solid rgb(241, 201, 126);
   width: 50%;
   height: 30%;
   overflow: hidden;
   border-radius: 49%;
  
 }

 img {
   width: 100%;
   height: 100%;

 }
 
 /* Bonus : keep aspect-ratio */ 
 img {
   object-fit: cover;
   object-position: right center;
 }
 
 /* Bonus : effect on :hover */
 img {
   transition: object-position .25s;
 }
 img:hover {
   object-position: center
 }

 .nousContacter {
    display: flex;
    height: 700px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    padding-top: 4%
 }
 

 .containerFooter {
   position: relative;
   text-align: center;
   color: white;
   height: 650px;
   width: 40%;
   background-color: rgb(253, 101, 0);
   margin-left: 10%;
  
}





 
 /* Top left text */

   input[type=text], textarea, input[type=email] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 0px;
      margin-left: 0px;
      resize: vertical;
    }
    label{margin-right: 0px;
      margin-left: 0px;
      width: 100%;}
    
    input[type=submit] {
      background-color: #1255a2;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #1872D9;
    }
    
    .container4 {
      /* Ajouter box-sizing */
      box-sizing : border-box;
      background-color:#f2f2f2;
      margin-top: 10%;
      padding:20px;
      width: 50%;
      /* redéfinition 400 + 2*20 */
      max-width: 440px;
      margin:0 auto;
      color: rgb(241, 201, 126);
    }
    h2  {
      color: #ffc800;
      width: 100%;
    }
   
 }
 

footer{
   display: flex;
}

.adresseContacte{
  font-size: x-large;
   color: aliceblue;
   padding-left: 15%;
   padding-top: 8%;
   
}


@media all and (max-width: 1024px) and (min-width: 1280px)

{
    #parent
    {
       display: none;
        width: auto;
        margin-left: 10px;
    }
}

